html, body {
  height: 100%;
}
  h1 {
  padding: 100px;
  text-align: center;
  font-family: "Galada";
  }

  h2 {
    padding: 15px;
    text-align: center;
    font-family: "Galada";
  }

  img {
  height: 100%;
  max-width: 100%;
  }

  form, .social {
  width: 400px;
  margin: 20px auto;
  text-align: center;
}

canvas {
  position: absolute;
  top: 0;
}
